:root {
    --color-1: ;
    --color-2: ;
    --color-3: ;
    --gradient-1: linear-gradient(91deg, #261733, #151a3f);
    --gradient-2: linear-gradient(91deg,#482566 0%, #161d52 99.51%);
    --gradient-3: linear-gradient(149deg, #192247 0%, #210e17 96.86%); ;

    --font-1:'Bebas Neue', sans-serif;
    --font-2:'Anton', sans-serif; 
    --font-3:'netflix', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/netflix-sans');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100%;
    background-color: #000;
    display: block;
}


header {
    background-image: linear-gradient(7deg, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.5%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.725) 53.5%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.5%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6) 97%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    width: 100%;
}




header img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;

}



.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding-right: 100px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 100px;
}

.logo {
    fill:rgb(229,9,20);
    width: 160px;
    height: 40px;
    z-index: 10;
    position: relative;
}

.select-lang-1 {
    height: auto;
    background-color: #00000004;
    border: solid 1px gray;
    color: white;
    appearance: none;
    width: 120px;
    font-size: 1rem;
    padding: 0.4rem 2rem 0.4rem 0.8rem;
}



.identifier {
    height: 35px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
    text-decoration: none;
    font-family: var(--font-3);
}

.identifier:hover {
    cursor: pointer;
    background: rgb(171, 7, 15);
}

.text {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.text h1 {
    font-size: 3.5rem;
    font-weight: 900;
    max-width: 700px;
    font-family: var(--font-3);
}

.text p {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-3);
}

.text h3 {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-3);
    line-height: 1.5;
    max-width: 500px;
}

.mail-1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.email-button {
    border-radius: 0.25rem;  
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 1.5rem 1rem 1.5rem ; 
    width: 400px;
    height: 4rem;
    filter: opacity(100%);
    color: inherit;
    background: transparent;
    border: solid 1px gray;
    
}

.button-1 {
    height: 4rem;
    width: 260px;
    font-size: 1.8rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border: none;
}

.button-1:hover {
    cursor: pointer;
    background: rgb(171, 7, 15);
}

/*
.separateur-container {
    display: block;
}
.separateur::before {
    content: ' ';
    width: 100%;
    height: 80px;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    position: relative;
    margin-top: -.25rem;
    border-radius: inherit; 
    background: linear-gradient(to right,
rgba(33, 13, 22, 1) 16%,
rgba(184, 40, 105, 1),
rgba(229, 9, 20, 1),
rgba(184, 40, 105, 1),
rgba(33, 13, 22, 1) 84%
);
z-index: 2;  */



.en-savoir-plus {
    height: 100px;
    width: 80%;
    position: relative;
    display: flex;
    left: 15%;
    align-items: center;
    flex-direction: row;
}

.wrapper {
    height: 85px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    transition: transform 0.4s ease-in-out;
}

.logo-svg-popcorn {
    height: auto;
}
.container-1 {
    height: 80px;
    width: 88%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(90deg, #3b2063 0%, #1b1c5a 100%);
    transition: transform 0.4s ease-in-out;
    color: white;
    border-radius: 20px;
    padding: 25px;
}

.wrapper:hover {
    transform: scale(1.05);
}
.container-1:hover {
    background: linear-gradient(90deg, #432371 0%, #1c1b54 100%);
}

.text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.container-1 h3 {
    position: relative;
    top: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-3);
}

.container-1 p {
    position: relative;
    bottom: 25px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-3);
}
.en-savoir-plus-button {
    height: 45px;
    width: 160px;
    background-color: rgba(177, 177, 177, 0.361);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    border: none;
}

.en-savoir-plus-button:hover {
    cursor: pointer;
    background-color: rgba(177, 177, 177, 0.235);

}



.tendances {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.tendances h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    position: relative;
    left: 130px;
    font-family: var(--font-3);
} 

.carrousel-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 130px;
    padding-right: 130px ;

}
.card {
    height: 280px;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.card img {
    height: 280px;
    width: 180px;
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
  
}

.carrousel-card span {
    font-size: 7rem;
    font-weight: 900;
    z-index: 5;
    position: relative;
    top: 60%;
    color: rgb(65,65,65);
   -webkit-text-stroke: 0.15rem rgb(255,255,255);
   text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
   -webkit-text-fill-color: rgb(0,0,0);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.07);
}




.raison-abonnement {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;

}

.raison-abonnement h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    position: relative;
    left: 130px;
    font-family: var(--font-3);
}

.container-card-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 130px;
    padding-right: 130px ;
    gap: 13px;

}

.card2 {
    display: flex;
    height: 360px;
    width: 280px;
    flex-direction: column;
    color: white;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 20px;
    padding: 15px;
}

.card2 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-3);
}

.card2 p {
    color: rgba(255,255,255,0.7);
    font-family: var(--font-3);
    font-size: 1rem;
    font-weight: 400;
}

.c2-1{
    position: relative;
    top:15%;
    left: 190px;
}

.c2-2 {
    position: relative;
    top:5%;
    left: 190px;
}

.c2-3 {
    position: relative;
    top:30%;
    left: 190px;
}

.c2-4 {
    position: relative;
    top:12%;
    left: 190px;
}



.faq {
    height: 90vh;
    display: flex;
    flex-direction:column ;

    margin-left: 110px ;
    margin-right: 110px;
    margin-top: 70px;
    gap: 10px;
}

.faq h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-left: 15px;
    font-family: var(--font-3);
}

.faq-d {
    width: 100%;
    height: auto;
    background-color: rgb(45,45,45);
    color: white;
}



.summary-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font-3);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.faq-d p {
    font-family: var(--font-3);
    font-size: 1.4rem;
    font-weight: 400;
    
}


.summary-1:hover {
    cursor: pointer;
    background-color: rgb(63, 63, 63);
}



.faq:has(.d-1[open]) .s-1 svg {
    transform: rotate(45deg);
}
.faq:has(.d-1[open]) .d-1 p {
    padding-left: 30px;
}
.faq:has(.d-1[open]) .s-1 {
    border-bottom: solid 1px #000;
}


.faq:has(.d-2[open]) .s-2 svg {
    transform: rotate(45deg);
}
.faq:has(.d-2[open]) .d-2 p {
    padding-left: 30px;
}
.faq:has(.d-2[open]) .s-2 {
    border-bottom: solid 1px #000;
}


.faq:has(.d-3[open]) .s-3 svg {
    transform: rotate(45deg);
}
.faq:has(.d-3[open]) .d-3 p {
    padding-left: 30px;
}
.faq:has(.d-3[open]) .s-3 {
    border-bottom: solid 1px #000;
}


.faq:has(.d-4[open]) .s-4 svg {
    transform: rotate(45deg);
}
.faq:has(.d-4[open]) .d-4 p {
    padding-left: 30px;
}
.faq:has(.d-4[open]) .s-4 {
    border-bottom: solid 1px #000;
}


.faq:has(.d-5[open]) .s-5 svg {
    transform: rotate(45deg);
}
.faq:has(.d-5[open]) .d-5 p {
    padding-left: 30px;
}
.faq:has(.d-5[open]) .s-5 {
    border-bottom: solid 1px #000;
}


.faq:has(.d-6[open]) .s-6 svg {
    transform: rotate(45deg);
}
.faq:has(.d-6[open]) .d-6 p {
    padding-left: 30px;
}
.faq:has(.d-6[open]) .s-6 {
    border-bottom: solid 1px #000;
}



.mail-2 {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.mail-2 h3 {
    font-family: var(--font-3);
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}

.email-button-2 {
    border-radius: 0.25rem;  
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 1.5rem 1rem 1.5rem ; 
    width: 770px;
    height: 4rem;
    filter: opacity(100%);
    color: inherit;
    background: transparent;
    border: solid 1px gray;
    
}

.button-2 {
    height: 4rem;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border: none;
}

.button-1:hover {
    cursor: pointer;
    background: rgb(171, 7, 15);
}

body:has(.faq-d[open]) .mail-2 {
    margin-top: 300px;
}


footer {
    width: 100%;
    max-width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0 150px ;
    margin-top: 80px;
}

footer .titre {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255,255,255,0.7);
    font-family: var(--font-3);
}

footer .num {
    text-decoration: underline;
}

footer .num:hover {
    cursor: pointer;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 50px;

  }

footer li  a{
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-3);
    text-decoration: underline;
    color: rgba(255,255,255,0.7);
    text-decoration-color: rgba(255,255,255,0.7);
}
  
  
  @media (min-width: 1024px) {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  

  @media (min-width: 640px) and (max-width: 1023px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
 
  @media (max-width: 639px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
  
 .select-2 {
    margin-top: 70px;
 }



 .last p {
    font-size: 0.8rem;
    font-family: var(--font-3);
    color: rgba(255,255,255,0.7);
 }

.netflix {
    font-size: 1rem;
    font-family: var(--font-3);
    color: rgba(255, 255, 255, 0.806);
    margin-top: 50px;
}

 p .blue {
    color: rgb(77, 169, 255);
    text-decoration: underline;
 }